.nav-item.dropdown {
    margin-right: 70px;
}

body {
    color: black;
    z-index: 10;
    /* padding-top: %; */
}

.card {
    z-index: 5;
    margin: 3% 10%;
    box-shadow: 5px 10px 8px #888888;

}

.profile-container {
    margin: 10% 10%;
    /* border: 1px solid; */
}

.btn.btn-primary {
    display: inline-block;
    /* margin-left: 90%; */
    transition: background-color 0.5s ease-in-out;
    /* box-shadow: 2px 2px 2px; */
}

.btn.btn-primary:hover {
    background-color: gray;
    color: blue
}

.btn.btn-secondary {
    display: inline-block;
    /* margin-left: 90%; */
    transition: background-color 0.5s ease-in-out;
    /* box-shadow: 2px 2px 2px; */
}

.btn.btn-secondary:hover {
    background-color: blue;
}


.buttons {
    margin-left: 80%;
}

#username {
    display: inline-block;
}

.likes {
    margin-left: 90%;
}

li {
    list-style-type: none;
}


.box{
    /* width: 100%;
    height: 100%;             */
    /* position: absolute;
    top: 0;
    left: 0; */
    opacity: 1;  /* for demo purpose  */
}
.stack-top{
    z-index: 9;
    margin: 20px; /* for demo purpose  */
    /* background-color: gray; */
}

.btn-info {
    display: inline-block;
    margin-left: 10px;
}

.btn-warning {
    display: inline-block;
    margin-left: 37%
}

#post-content {
    margin: auto;
    z-index: 10;
}

#pageNav {
    margin-top: 5%;
}

.form {
    margin-left: 5%;
}

textarea {
    resize: horizontal vertical;
    width: 95%;
}

.about-us {
    margin-left: 75%;
    display: inline-block;
}

.llp {
    display: inline-block;
}