.nav-item.dropdown {
    margin-right: 70px;
}

body {
    color: black;
}

.card {
    margin: 20px 10%;
}

.profile-container {
    margin: 10% 10%;
}

.btn.btn-primary {
    display: inline-block;
    /* margin-left: 90%; */
    transition: background-color 0.5s ease-in-out;
}

.btn.btn-primary:hover {
    background-color: gray;
    color: blue
}

.btn.btn-secondary {
    display: inline-block;
    /* margin-left: 90%; */
    transition: background-color 0.5s ease-in-out;
}

.btn.btn-secondary:hover {
    background-color: blue;
}


.buttons {
    margin-left: 80%;
}

#username {
    display: inline-block;
}

.likes {
    margin-left: 90%;
}

li {
    list-style-type: none;
}

